.info-num{
  background-color: #EBEBEB;
  padding-bottom: 50px;
  // position: relative;
  text-transform: uppercase; 
  
  &__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  &__item {
    text-align: center; 
  }
  
  &__icon {
    display: flex;
    align-items: center;
    position: relative;
    width: 120px;
    justify-content: center;
    
    &:nth-child(5){
      display: none;
    }
    
    &:not(:last-child)::after{
      position: absolute;
      left: 190px;
      content: "";
      padding: 10px;
      width: 10px;
      height: 10px;
      background-color: var(--accent-color);
    }
  }
  
  &__item p{
    font-family: "Teko";
    font-weight: 700;
    font-size: 59px;
    line-height: 59px;
  }
  
  &__item span {
    font-size: 12px;
    line-height: 18px;
    color: var(--accent-color);
  }
  
  // &__anime-num {
    //   width: 120px;
    // }
  }
  
  @media (max-width: 1100px) {
    .info-num__icon:not(:last-child)::after {
      left: 160px;
    }
  }
  
  @media (max-width: 960px) {
    .info-num__icon:not(:last-child)::after {
      left: 150px;
    }
  }
  
  @media (max-width: 890px) {
    .info-num__icon:not(:last-child)::after {
      left: 140px;
    }
  }
  
  @media (max-width: 830px) {
    .info-num__icon:not(:last-child)::after {
      padding: 0;
      left: 140px;
    }
    
    .info-num__item p{
      font-size: 49px;
      line-height: 49px;
    }
  }
  
  @media (max-width: 768px) {
    .info-num__icon:not(:last-child)::after {
      left: 130px;
    }
  }
  
  @media (max-width: 700px) {
    .info-num__list {
      flex-wrap: wrap;
    }
    
    .info-num__item p{
      font-size: 39px;
      line-height: 39px;
    }
    
    .info-num__icon:not(:last-child)::after {
      display: none;
    }
  }
  
  @media (max-width: 550px) {
    .info-num__item:nth-child(1), .info-num__item:nth-child(2){
      margin-bottom: 20px;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    
    .info-num__icon{
      align-items: center;
      justify-content: center;
    }
  }
  @media (max-width: 378px) {
    .info-num__list {
      flex-direction: column;
    }

    .info-num__item{
      margin: 0;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 320px) {
    
    .info-num__item:nth-child(1), .info-num__item:nth-child(2){
      margin-bottom: 0px;
      width: 50%;
    }
    
    .info-num__item p{
      font-size: 29px;
      line-height: 29px;
    }
    
    .info-num__list{
      flex-direction: column; 
    }
  }