.room{
  
  &__list{
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  
  &__item{
    position: relative;
    overflow: hidden;
  }
  
  &__item:not(:last-child){
    margin-right: 20px;
  }
  
  &__new{
    position: absolute;
    top: 0;
    left: 0;
    padding: 9px 33px;
    background-color: var(--text-color);
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
  }
  
  &__info-title{
    position: absolute;
    z-index: 3;
    bottom: 8px;
    width: 90%;
    text-align: center;
    background-color: var(--text-color);
    color: #fff;
    font-family: "Teko";
    padding: 20px 90px;
    white-space: nowrap;
  }
  
  &__info-text{
    position: absolute;
    right: 0;
    bottom: 8px;
    z-index: 1;
    background-color: var(--accent-color);
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 34px;
    padding: 0 30px 60px;
    white-space: nowrap;
  }
  
  &__box{
    background-color: var(--text-color);
    width: 11px;
    height: 11px;
    margin: 0 auto;
    margin-top: 63px;
    margin-bottom: 80px;
  }
}

@media (max-width: 700px) {
  .room__list{
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
  }
  
  .room__item:not(:last-child){
    margin-right: 0;
  }
  
  .room__box {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}