@import "../sections-scss/general-style";
@import "../sections-scss/header__nav";
@import "../sections-scss/about-us";
@import "../sections-scss/info-numbers";
@import "../sections-scss/room-section";
@import "../sections-scss/services-section";
@import "../sections-scss/brands-section";
@import "../sections-scss/footer-section";